@font-face {
    font-family: 'merri-light';
    src: local('merriweathersans-light'), url(./assets/fonts/merriweathersans-light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'merri-bold';
    src: local('merriweathersans-extrabold'), url(./assets/fonts/merriweathersans-extrabold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'merri-reg';
    src: local('merriweathersans-regular'), url(./assets/fonts/merriweathersans-regular.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Mont';
    src: local('merriweathersans-regular'), url(./assets/fonts/) format('truetype');
  }